[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selinon = {extras = ["celery", "redis"], version = "*", git = "https://github.com/fridex/selinon@redis-no-password-fix"}
thoth-storages = "*"
thoth-python = "*"
requests = "*"
xmltodict = "*"
thoth-common = "*"
nltk = "*"
celery = "<5"

[dev-packages]

[requires]
python_version = "3.6"
