[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selinon = "*"
redis = "*"
thoth-storages = "*"
thoth-python = "*"
requests = "*"
libarchive = "*"
xmltodict = "*"
thoth-common = "*"

[dev-packages]

[requires]
python_version = "3.6"
